<a href="https://colab.research.google.com/github/vijaysolanki07079/python_basic_by_vs/blob/main/functions_asignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q.1 What is the difference between functions and method?

  - Functions are independent blocks of code that can be called from anywhere, while methods are tied to objects or classes and need an object or class instance to be invoked.

# Q.2 Explain the concept of function arguments and parameters in Python.
  - Arguments are the variables passed to the function in the function call. · Parameters are the variables used in the function definition. · The number of arguments ...

# Q3. What are the different ways to define and call a function in Python?
  - To define a function in Python, you can use the def keyword, followed by the function name, parameters, and a colon. To call a function, you can use the function name followed by parentheses.

In [ ]:
# define a add function
def add(a,b):
  return a+b

In [ ]:
#calling a function
add(2,3)

5

# Q4. What is the purpose of the `return` statement in a Python function?
  - In a Python function, the return statement is used to specify the value or result that the function should send back to the part of the code that called it, effectively ending the function execution and providing an output from the function to be used elsewhere in the program.

In [ ]:
# return statement
def squr(a):
  return a**2

In [ ]:
squr(6)

36

# Q5. What are iterators in Python and how do they differ from iterables?
  -  — An iterable is an object which can be iterated upon, and an iterator is an object which keeps a state and produces the next value each time it is iterated upon.

In [ ]:
l = [1,2,3,4]# here the list l is itrable object
for i in l:
  print(i)

1
2
3
4

In [ ]:
a = iter(l) # iterator object created

<list_iterator object at 0x7eafe74e0c10>

In [ ]:
next(a)

1

In [ ]:
next(a)

2

In [ ]:
next(a)

3

In [ ]:
next(a)

4

In [ ]:
next(a)

In [ ]:
s = "i am vijay solanki"
for i in s:
  print(i)

i

a
m

v
i
j
a
y

s
o
l
a
n
k
i

In [ ]:
b = iter(s)
next(b)

'i'

# Q6. Explain the concept of generators in Python and how they are defined.
  - A generator in Python is a special type of function that generates a sequence of values on demand, one at a time, using the "yield" keyword instead of "return", making it memory-efficient as it doesn't need to store the entire sequence in memory at once; essentially, it acts like an iterator that produces values lazily during iteration.

In [ ]:
# concept of generator
def sq(n):
  for i in n:
    yield i**2

In [ ]:
a= (sq([1,2,3,4,5]))

In [ ]:
next(a)

9

In [ ]:
next(a)

16

In [ ]:
next(a)

25

# Q7. What are the advantages of using generators over regular functions?
  - The primary advantage of using generators over regular functions is their ability to generate values on-demand, one at a time, which significantly reduces memory usage by only calculating values when they are needed, making them ideal for large datasets or situations where you don't need the entire sequence stored in memory at once; this is called "lazy evaluation".

In [ ]:
# generator
def feb(x):
  a,b = 0,1
  n = []
  for i in range(x):
    a,b = b, a+b
    n.append(a)
  return n

In [ ]:
feb(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
# generator
def feb(x):
  a,b = 0,1
  n = []
  for i in x:
    a,b = b, a+b
    n.append(a)
  yield n

In [ ]:
a = feb([1,2,3,4,5,6])

In [ ]:
next(a)

[1, 1, 2, 3, 5, 8]

# Q8. What is a lambda function in Python and when is it typically used?
  - A lambda function in Python is a function without a name, also known as an anonymous function. It's used to create simple functions, such as those that are single-line statements. Lambda functions are useful when you only need to use a function once.

In [ ]:
# lambda function vs normal fuction
def add(a,b):
  return a+b

In [ ]:
add(2,3)

5

In [ ]:
#using lambda func we can short the function
add1 = lambda a,b : a+b

In [ ]:
add1(5,6)

11

In [ ]:
# syntax of lambda is
# lambda argument: expression or statement
fib = (lambda a : a if a<=1 else fib(a-1)+fib(a-2))

In [ ]:
fib(16)

987

# Q9. Explain the purpose and usage of the `map()` function in Python.
  - In Python, the map() function is used to apply a specific function to every element of an iterable (like a list or tuple), effectively "mapping" the function across all items and returning an iterator containing the transformed results, allowing you to perform the same operation on multiple elements without writing explicit loops.

In [ ]:
# syntax of map function
#map(func,iterable)
list(map(lambda a : a**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [ ]:
l = [5,6,4,7,8,9,9]
list(map(lambda a : a**2,l))# squr using map func

[25, 36, 16, 49, 64, 81, 81]

In [ ]:
list(map(lambda x: str(x),[1,2,3,4,5]))

['1', '2', '3', '4', '5']

In [ ]:
list(map(lambda x: x.upper(),["vijay","sanjay"]))

['VIJAY', 'SANJAY']

In [ ]:
list(map(lambda x: x.count("v"),["vijay","sanjay","vijay","vijay"]))

[1, 0, 1, 1]

In [ ]:
list(map(lambda x,y,z : x+y+z,[1,2,3,4,5],[100,200,300,400,5000],[1,2,3,5,6]))

[102, 204, 306, 409, 5011]

# Q10. What is the difference between `map()`, `reduce()`, and `filter()` functions in Python?
  - In Python, "map()" applies a function to every element of an iterable, returning a new iterable with the transformed elements; "filter()" selects elements from an iterable based on a condition, returning only those that satisfy the condition; and "reduce()" combines all elements of an iterable into a single value by applying a function cumulatively to pairs of elements.
  # key points
  -
map(): Transforms each element in a sequence using a provided function.
   - filter():

    Selects elements from a sequence based on a condition (returning only elements that evaluate to True).

  - reduce():
  
    Aggregates elements of a sequence into a single value by applying a function cumulatively.

In [ ]:
# map example
list(map(lambda x: x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [ ]:
from functools import reduce
# reduce example
reduce(lambda x,y : x+y,[1,2,3,4,5])

15

In [ ]:
from functools import reduce
# reduce example
reduce(lambda x,y : x*y,[1,2,3,4,5])

120

In [ ]:
reduce(lambda x,y : x if x>y else y,[1,2,3,4,5])

5

In [ ]:
list(filter(lambda x : x%2==0,[1,2,3,4,5,6,7,8,9]))

[2, 4, 6, 8]

In [ ]:
list(filter(lambda x: x%2 != 0,l))

[5, 7, 9, 9]

In [ ]:
reduce(lambda x,y: x if x%2 != 0 else y,  [47,12,42,13])

47

# Q11. Using pen & Paper write the internal mechanism for sum operation using  reduce function on this given   list:[47,11,42,13];
  -

In [ ]:
def sum_list(l):
  sum = 0
  for i in l:
    sum = sum+i
  return sum

In [ ]:
sum_list([1,2,3,3])

9

In [ ]:
# sum of all the elements of the list using reduce
from functools import reduce
reduce(lambda x,y : x+y,[47,11,42,13])

113

In [ ]:
'''
so first of all x = 47 and y = 11
now x+y = 58
now x = 58 and y = 42
so x+y means 58+42 = 100
now x = 100 and y = 13
so x+y = 113
this is actually happens in the memory
'''

# **PRACTICAL QUESTIONS OF FUNCTIONS**
# Q1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list.

In [ ]:
def sum_even(l):
  sum = 0
  for i in l:
    if i%2 == 0:
      sum = sum+i
  return sum

In [ ]:
sum_even([1,2,3,4,5,6,7,8,9,10,11])

30

# Q2. Create a Python function that accepts a string and returns the reverse of that string.

In [ ]:
def rev_string(a):
  return a[::-1]

In [ ]:
rev_string("vijay")

'yajiv'

In [ ]:
rev_string("sanjay")

'yajnas'

In [ ]:
rev_string("pwskills")

'sllikswp'

In [ ]:
rev_string("12345678910")

'01987654321'

In [ ]:
a = lambda x : x[::-1]

In [ ]:
a("vijay")

'yajiv'

# Q3. Implement a Python function that takes a list of integers and returns a new list containing the squares of the each number

In [ ]:
def squr(l):
  return [i**2 for i in l]

In [ ]:
squr([2,4,6])

[4, 16, 36]

In [ ]:
def squr(l):
  return list(map(lambda x : x**2,l))

In [ ]:
squr([2,4,6])

[4, 16, 36]

In [ ]:
def squr(l):
  li = []
  for i in l:
    li.append(i**2)
  return li

In [ ]:
squr([44,5,6,9])

[1936, 25, 36, 81]

In [ ]:
a= lambda x : x**2

In [ ]:
a([2,4,6,8,9,7])

[7, 9, 8, 6, 4, 2]

In [ ]:
l = [6,6,2,4,3,5]
list(map(lambda a:a**2,l))

[36, 36, 4, 16, 9, 25]

# Q4. Write a Python function that checks if a given number is prime or not from 1 to 200.

In [ ]:
n = range(1,201)
def check_prime(n):
  if n < 2:
    return False
  for i in range(2,n):
    if n%i == 0:
      return False
  return True

In [ ]:
check_prime(123)

False

In [ ]:
check_prime(4222)

False

In [ ]:
check_prime(8)

False

In [ ]:
check_prime(2)

True

In [ ]:
check_prime(5)

True

# Q5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms.

In [ ]:
fib = lambda n : n if n<=1 else fib(n-1)+fib(n-2)

In [ ]:
fib(15)

610

# Q6. Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [ ]:
def gen_fun(x):
  yield x**2

In [ ]:
num = int(input("please enter a number  "))
squr = gen_fun(num)

please enter a number  21

In [ ]:
next(squr)

441

# Q7. Implement a generator function that reads a file line by line and yields each line as a string.

# Q8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [ ]:
item_list = [(1,50000),(1,455585200),(1,80)]
sorted_list = sorted(item_list, key=lambda x: x[1])
print(sorted_list)

[(1, 80), (1, 50000), (1, 455585200)]

# Q9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

In [ ]:
list(map(lambda x : x*9/5+32,[100,20,65,90]))

[212.0, 68.0, 149.0, 194.0]

# Q10. Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [ ]:
list(filter(lambda x : x if x not in "aeiou" else None,"pwskills"))

['p', 'w', 's', 'k', 'l', 'l', 's']

# Q 11 Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
#product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
#order is smaller than 100,00 €.
#Write a Python program using lambda and map.

In [ ]:
rest = {"order number": [34587,98762,77226,88112],
        "Book title and author": ["learning python ,mark lutz","programming python , mark lutz","head first python mark berry","version python3 , vijay solanki"]
        ,"quantity": [4,5,3,3]
        ,"price per item": [40,56,32,24]}

list(map(lambda x : rest["order number"],rest))

[[34587, 98762, 77226, 88112],
 [34587, 98762, 77226, 88112],
 [34587, 98762, 77226, 88112],
 [34587, 98762, 77226, 88112]]